[Desktop Entry]
Type=Application
Name=T-Crisis 4 110% A.I. Turbo Remix
GenericName=Puzzle Game
Comment=Tetris-style falling blocks puzzle with 4-player multiplayer
Exec=tc4-tribute3-wrapper.sh
Icon=io.github.savantsavior.t-crisis4
Categories=Game;ArcadeGame;
Keywords=tetris;tetris-like;falling-blocks;puzzle;blocks;arcade;tetrominoes;multiplayer;game;
Terminal=false
StartupNotify=true
